<div class="gallery">
  <h1 class="title">La galerie</h1>

  <div class="row instagram-gallery">
    <% @medias.each do |media| %>
      <div class="col-md-3 instagram-gallery__item">
        <%= link_to(
          media[:link],
          target: '_blank',
          rel: 'noopener noreferrer'
        ) do %>
          <% if media[:type] == 'image' %>
            <%= image_tag media[:url] %>
          <% elsif media[:type] == 'video' %>
            <%= video_tag media[:url], controls: true %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
