
<div class="landing">
  <div class="container">
    <div class="content">
    <%= image_tag("mehmet-lefilm.png", :class => "content__title", :alt => "Mehmet Le Film") %>
      <p class="content__date">10.02.2017</p>
      <div class="content__socials">
        <div class="social">
          <a href="https://www.facebook.com/mehmetlefilm" target="_blank">
            <%= image_tag("fb.png", :alt => "Facebook icon") %>mehmetlefilm
          </a>
        </div>
        <div class="social">
          <a href="https://www.instagram.com/mehmet_le_film/" target="_blank">
            <%= image_tag("insta.png", :alt => "Instagram icon") %>mehmet_le_film
          </a>
        </div>
      </div>
    </div>
  </div>
</div>