<div class="synopsis">
  <h1 class="title">Le synopsis</h1>
  <p class="text">
    Alors qu’il travaille sur un cadavre, Mehmet le croque-mort fait une
    découverte qui bouleversera le cours de sa vie. Avec l’aide de Boris, il
    partira à la poursuite de son rêve, balayant sur son passage de nombreux
    obstacles…
  </p>
</div>
