@import 'vendors/include-media';
$fade-in-slide-up-duration: 500ms;
$fade-in-slide-up-delay: 200ms;

.pages-grid {
  list-style: none;
}

.pages-grid__item {
  @include media('<large') {
    &:not(:first-child) {
      margin-top: 3em;
    }
  }

  @include media('>=large') {
    position: relative;
    float: left;
    margin-top: 0;
    animation: fade-in-slide-up $fade-in-slide-up-duration both;

    &:nth-child(odd) {
      .pages-grid__label-wrapper {
        top: 4em;
        left: 80%;
      }
    }

    &:nth-child(even) {
      margin-top: 20%;

      .pages-grid__label-wrapper {
        bottom: 4em;
        right: 80%;
        text-align: right;
      }
    }

    &:first-child {
      .pages-grid__label-wrapper {
        animation-delay: $fade-in-slide-up-duration + $fade-in-slide-up-delay;
      }
    }

    @for $i from 2 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: $fade-in-slide-up-delay * $i;

        .pages-grid__label-wrapper {
          animation-delay: $fade-in-slide-up-duration + ($fade-in-slide-up-delay * $i);
        }
      }
    }
  }
}

.pages-grid__image {
  opacity: 0.3;
  transition: opacity 250ms;
}

.pages-grid__link {
  &:hover,
  &:focus {
    .pages-grid__image {
      opacity: 1;
    }

    .pages-grid__label-wrapper::before {
      width: 102%;
    }
  }
}

.pages-grid__label-wrapper {
  z-index: 100;

  @include media('>=large') {
    &::before {
      content: '';
      position: absolute;
      left: -4%;
      display: block;
      width: 0;
      height: 100%;
      background: $darker-orange;
      transition: width 500ms;
      z-index: -1;
    }

    position: absolute;
    margin: 0;
    text-align: left;
    animation: fade-in $fade-in-slide-up-duration both;
  }
}

.pages-grid__label {
  display: block;
  text-align: center;
  color: $dark-orange;
  text-transform: uppercase;
  letter-spacing: 14px;
  white-space: nowrap;
  margin-bottom: 1em;

  @supports (
    (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent)
  ) {
    background: $orange-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include media('>=large') {
    margin-bottom: 0;
  }
}
