@import 'vendors/include-media';

.pages-grid {
  list-style: none;
}

.pages-grid__item {
  @include media('<large') {
    &:not(:first-child) {
      margin-top: 3em;
    }
  }

  @include media('>=large') {
    position: relative;
    float: left;
    margin-top: 0;

    &:nth-child(odd) {
      .pages-grid__label {
        top: 4em;
        left: 80%;
      }
    }

    &:nth-child(even) {
      margin-top: 20%;

      .pages-grid__label {
        bottom: 4em;
        right: 80%;
        text-align: right;
      }
    }
  }
}

.pages-grid__image {
  opacity: 0.3;
  transition: opacity 250ms;
}

.pages-grid__link {
  &:hover,
  &:focus {
    .pages-grid__image {
      opacity: 1;
    }
  }
}

.pages-grid__label {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: $dark-orange;
  text-transform: uppercase;
  z-index: 100;
  letter-spacing: 14px;

  @supports (
    (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent)
  ) {
    background: $orange-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include media('>=large') {
    position: absolute;
    margin: 0;
    text-align: left;
  }
}
