// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
	color: white;
	.anouncer {
		width: 171px;
		margin: 0 auto;
		text-align: center;
		p {
		    letter-spacing: 9px;
		    padding-left: 9px;
		}
		margin-bottom: 75px;
	}
	.presentation {
		width: 100%;
		margin-bottom: 75px;
		text-align: center;
	}
	.team_name {
		margin-bottom: 5px;
	}
	.jauge {
		width: 100%;
		height: 5px;
		background-color: $light-black;
		margin-bottom: 5px;
		.indicator {
			height: 5px;
		}
	}
	a.join_team {
		margin-bottom: 15px;
		position: absolute;
		right: 0;
	}
}