// Breakpoints
$breakpoints: (
  'small': 576px,
  'medium': 768px,
  'large': 992px
) !default;

// Typography
$font-stack: 'Arial', 'Helvetica Neue Light', 'Helvetica', sans-serif;
$font-size: 1em;
$font-size-large: 2em;

// Colors
$black: #1F1F1F;
$rina-black: #14151b;
$white: rgb(255, 255, 255);
$grey: rgb(134, 134, 134);
$dark-grey: rgb(107, 107, 107);
$light-orange: rgb(255, 188, 116);
$dark-orange: rgb(255, 128, 128);
$darker-orange: rgb(226, 92, 91);
$orange-gradient: linear-gradient(45deg, $light-orange, $dark-orange);

$light-black: #2B2B2B;
$font-light-black: #535353;
$yellow: #FEE9BD;
